@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 

                        Color Variables

*/

$hc: #3a3a3a;
$pc: #787885;
$btn: #e02c6d;
$bc: #7878852e;
$fbc: #0a0826;
$wc: #ffffff;
$sc: #fb8200;

/* 

                        utilities

*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: $wc;
  font-family: 'Poppins', sans-serif;
}

a,
span,
input,
textarea,
button {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
section,
div {
  margin: 0;
  padding: 0;
}

h1 {
  color: $hc;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: left;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  width: 196px;
  height: 44px;
  left: 120px;
  top: 511px;
  background: #e02c6d;
  border-radius: 41px;
  color: #fff;
  border: 0;
  outline: 0;
  i {
    margin-left: 10px;
  }
}

/* 

                        common classes

*/

.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.flex__area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.half__width {
  width: 50%;
}

/* 

                        Navbar Css

*/

header {
  .navbar-light .navbar-toggler {
    width: 75px;
    color: $btn !important;
    border-color: transparent !important;
  }

  .navbar {
    padding: 20px 0;

    .navbar-brand {
      color: $hc;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: left;
    }
    .nav-item {
      color: $hc;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      padding: 0 !important;
      margin-left: 34px;
    }
    .nav-link {
      padding: 0 !important;
    }
  }
}

/* 

                        hero area Css

*/

#hero__area {
  margin: 70px auto;
  padding: 100px 0;
  .flex__area {
    .banner__content {
      p {
        margin: 20px 0;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: $pc;
      }
    }

    .banner__image {
      display: flex;
      justify-content: center;
      position: relative;
      .image__bg {
        width: 580px;
        height: 528px;
        z-index: -1;
        object-fit: contain;
      }
      .banner__img {
        position: absolute;
        width: 440px;
        height: 414px;
        object-fit: contain;
        top: 40px;
      }
    }
  }
}

/* 

                        clients Css

*/

#clients__area {
  margin: 70px auto;
  min-height: 140px;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  border: 1px solid $bc;
  .clients__image {
    width: 110px;
    margin: 0 auto;
    object-fit: contain;
    margin: 0 35px;
  }
}

/* 

                        collections Css

*/

#popular__collection {
  margin: 70px auto;
  h2 {
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: center;
    color: $hc;
  }
  .flex__area {
    margin-top: 50px;
    .collection__card {
      margin: 15px;
      padding: 20px;
      width: 350px;
      border-radius: 5px;
      box-shadow: 1px 2px 19px $pc;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      h3 {
        margin-top: 15px;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: $hc;
      }

      h4 {
        margin: 6px 0;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: $fbc;
      }
      .ratting {
        margin-bottom: 8px;
        i {
          font-size: 14px;
          color: $sc;
        }
        span {
          font-size: 14px;
          margin-left: 15px;
          font-weight: 600;
        }
      }
      p {
        width: 80%;
        font-size: 14px;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 0.018em;
        text-align: left;
        color: $pc;
      }
    }
  }
  a {
    display: block;
    margin-top: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    color: $btn;
    i {
      margin-left: 10px;
    }
  }
}

/* 

                        about Css

*/

#about__area {
  margin: 70px 0;
  .flex__area {
    .about__image {
      width: 45%;
      img {
        width: 90%;
        object-fit: cover;
      }
    }
    .about__content {
      width: 48%;
      margin-left: 2%;
      h2 {
        font-family: Poppins;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: left;
        color: $hc;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        color: $pc;
        margin: 10px 0 20px 0;
      }
    }
  }
}

/* 

                        footer Css

*/

footer {
  margin-top: 70px;
  padding: 70px 0;
  background: $fbc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .wrapper {
    h5 {
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0px;
      color: $wc;
    }
    h6 {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      color: $wc;
      margin-top: 20px;
    }
  }
}

/* 

    media query

*/

@media only screen and (max-width: 1650px) {
  .wrapper {
    width: 92%;
  }
}

@media only screen and (max-width: 992px) {
  header {
    .navbar {
      padding: 20px 0;
      text-align: center;
      .nav-item {
        text-align: center;
        margin-left: 0;
        margin-top: 25px;
      }
    }
  }

  #hero__area,
  #about__area {
    margin: 50px auto;
    padding: 50px 0;
    .flex__area {
      flex-direction: column-reverse;
    }
  }
  #hero__area {
    .flex__area {
      .banner__content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          text-align: center;
        }
      }
    }
  }
  .half__width {
    width: 100%;
  }

  #about__area {
    margin: 50px auto;
    .flex__area {
      .about__content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          text-align: center;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          text-align: center;
        }
      }
      .about__image {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 250px;
          height: 250px;
          object-fit: cover;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
  }
  #hero__area {
    margin: 50px auto;
    padding: 50px 0;
    .flex__area {
      .banner__content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          text-align: center;
        }
      }
      .banner__image {
        .image__bg {
          width: 350px;
          height: 350px;
        }
        .banner__img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  #about__area {
    margin: 50px auto;
    .flex__area {
      .about__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          text-align: center;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          text-align: center;
        }
      }
      .about__image {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 250px;
          height: 250px;
          object-fit: cover;
        }
      }
    }
  }

  #popular__collection {
    .flex__area {
      .collection__card {
        width: 90%;
        margin: 0 auto;
        margin: 0;
        margin-bottom: 50px;
      }
    }
  }
}
