@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 

                        Color Variables

*/
/* 

                        utilities

*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

a,
span,
input,
textarea,
button {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
section,
div {
  margin: 0;
  padding: 0;
}

h1 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: left;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 24px;
  width: 196px;
  height: 44px;
  left: 120px;
  top: 511px;
  background: #e02c6d;
  border-radius: 41px;
  color: #fff;
  border: 0;
  outline: 0;
}

button i {
  margin-left: 10px;
}

/* 

                        common classes

*/
.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.flex__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.half__width {
  width: 50%;
}

/* 

                        Navbar Css

*/
header .navbar {
  padding: 20px 0;
}

header .navbar .navbar-brand {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

header .navbar .nav-item {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0 !important;
  margin-left: 34px;
}

header .navbar .nav-link {
  padding: 0 !important;
}

/* 

                        hero area Css

*/
#hero__area {
  margin: 70px auto;
  padding: 100px 0;
  background: url("../images/banner-bg.png") no-repeat right/contain;
}

#hero__area .flex__area .banner__content p {
  margin: 20px 0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #787885;
}

#hero__area .flex__area .banner__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero__area .flex__area .banner__image img {
  width: 440px;
  height: 414px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 

                        clients Css

*/
#clients__area {
  margin: 70px auto;
  min-height: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  border: 1px solid #7878852e;
}

#clients__area .clients__image {
  width: 110px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 35px;
}

/* 

                        collections Css

*/
#popular__collection {
  margin: 70px auto;
}

#popular__collection h2 {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: center;
  color: #3a3a3a;
}

#popular__collection .flex__area {
  margin-top: 50px;
}

#popular__collection .flex__area .collection__card {
  margin: 15px;
  padding: 20px;
  width: 350px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 19px #787885;
          box-shadow: 1px 2px 19px #787885;
}

#popular__collection .flex__area .collection__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#popular__collection .flex__area .collection__card h3 {
  margin-top: 15px;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #3a3a3a;
}

#popular__collection .flex__area .collection__card h4 {
  margin: 6px 0;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #0a0826;
}

#popular__collection .flex__area .collection__card .ratting {
  margin-bottom: 8px;
}

#popular__collection .flex__area .collection__card .ratting i {
  font-size: 14px;
  color: #fb8200;
}

#popular__collection .flex__area .collection__card .ratting span {
  font-size: 14px;
  margin-left: 15px;
  font-weight: 600;
}

#popular__collection .flex__area .collection__card p {
  width: 80%;
  font-size: 14px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0.018em;
  text-align: left;
  color: #787885;
}

#popular__collection a {
  display: block;
  margin-top: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  color: #e02c6d;
}

#popular__collection a i {
  margin-left: 10px;
}

/* 

                        about Css

*/
#about__area {
  margin: 70px 0;
}

#about__area .flex__area .about__image {
  width: 45%;
}

#about__area .flex__area .about__image img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about__area .flex__area .about__content {
  width: 48%;
  margin-left: 2%;
}

#about__area .flex__area .about__content h2 {
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  color: #3a3a3a;
}

#about__area .flex__area .about__content p {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #787885;
  margin: 10px 0 20px 0;
}

/* 

                        footer Css

*/
footer {
  margin-top: 70px;
  padding: 70px 0;
  background: #0a0826;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .wrapper h5 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  color: #ffffff;
}

footer .wrapper h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ffffff;
  margin-top: 20px;
}

/* 

    media query

*/
@media only screen and (max-width: 1650px) {
  .wrapper {
    width: 92%;
  }
}

@media only screen and (max-width: 800px) {
  #hero__area .flex__area,
  #about__area .flex__area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .half__width {
    width: 100%;
  }
  #about__area .flex__area .about__image {
    width: 100%;
  }
  #about__area .flex__area .about__image img {
    width: 250px;
    height: 250px;
  }
  #about__area .flex__area .about__content {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
  }
  #hero__area {
    margin: 50px auto;
    padding: 50px 0;
    background: url("../images/banner-bg.png") no-repeat top/contain;
  }
  #hero__area .flex__area .banner__content {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #hero__area .flex__area .banner__content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
  }
  #about__area {
    margin: 50px auto;
  }
  #about__area .flex__area .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about__area .flex__area .about__content h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }
  #about__area .flex__area .about__content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
  }
  #about__area .flex__area .about__image {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about__area .flex__area .about__image img {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #popular__collection .flex__area .collection__card {
    width: 90%;
    margin: 0 auto;
    margin: 0;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */